body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.25rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

/* FORM */
form {
  width: 400px;
  max-width: 100%;
  padding: 1.25rem auto;
  margin: 1rem auto;
}

form div {
  text-align: center;
  padding: .5rem;
}

/* BUTTONS */
.button {
  display: block;
  width: 200px;
  margin: 1.25rem auto;
  padding: .5rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

.button.cta-btn {
  background-color: #008d18;
}

.button.go-back-btn {
  background-color: #4c6faf;
}

.button.logout-btn {
  background-color: #eb0800;
}

/* ERROR */
.error {
  color: #eb0800;
  text-align: center;
}

.success {
  color: #008d18;
  text-align: center;
}