body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  min-height: 100vh;
  margin: 1rem auto;
  padding: 1.5rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

/* FORM */
form {
  width: 400px;
  max-width: 100%;
  padding: 1.25rem auto;
  margin: 1rem auto;
}

form div {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form label {
  width: 80px;
  max-width: 100%;
  text-align: right;
}

form input {
  width: 180px;
  max-width: 100%;
  padding: .25rem .5rem;
}

/* BUTTONS */
.button {
  display: block;
  width: 200px;
  max-width: 100%;
  margin: 1.25rem auto;
  padding: .5rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

.button.primary-btn {
  background-color: #008d18;
}

.button.secondary-btn {
  background-color: #4c6faf;
}

.button.logout-btn {
  background-color: #eb0800;
}

/* ERROR */
.error {
  color: #eb0800;
  text-align: center;
}

.success {
  color: #008d18;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1.5rem;
}